USE [master]
GO
/****** Object:  Database [FootballDB]    Script Date: 28.4.2025 г. 13:05:56 ******/
CREATE DATABASE [FootballDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FootballDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FootballDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FootballDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FootballDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FootballDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FootballDB]
GO
/****** Object:  Table [dbo].[League]    Script Date: 28.4.2025 г. 13:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[League](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Match]    Script Date: 28.4.2025 г. 13:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Match](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[league_id] [int] NULL,
	[match_date] [date] NULL,
	[match_time] [time](0) NULL,
	[home_team_id] [int] NOT NULL,
	[away_team_id] [int] NOT NULL,
	[full_time_home_goal] [int] NOT NULL,
	[full_time_away_goal] [int] NOT NULL,
	[full_time_result_id] [int] NULL,
	[half_time_home_goal] [int] NULL,
	[half_time_away_goal] [int] NULL,
	[half_time_result_id] [int] NULL,
	[referee_id] [int] NULL,
	[home_shot] [int] NULL,
	[away_shot] [int] NULL,
	[home_shot_target] [int] NULL,
	[away_shot_target] [int] NULL,
	[home_foul] [int] NULL,
	[away_foul] [int] NULL,
	[home_corner] [int] NULL,
	[away_corner] [int] NULL,
	[home_yellow_card] [int] NULL,
	[away_yellow_card] [int] NULL,
	[home_red_card] [int] NULL,
	[away_red_card] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Referee]    Script Date: 28.4.2025 г. 13:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 28.4.2025 г. 13:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[letter] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 28.4.2025 г. 13:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams_Leagues]    Script Date: 28.4.2025 г. 13:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams_Leagues](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[league_id] [int] NULL,
	[team_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Matches_Home_Away_Team]    Script Date: 28.4.2025 г. 13:05:56 ******/
CREATE NONCLUSTERED INDEX [IX_Matches_Home_Away_Team] ON [dbo].[Match]
(
	[home_team_id] ASC,
	[away_team_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Matches_League_Date]    Script Date: 28.4.2025 г. 13:05:56 ******/
CREATE NONCLUSTERED INDEX [IX_Matches_League_Date] ON [dbo].[Match]
(
	[league_id] ASC,
	[match_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Match] ADD  DEFAULT ((0)) FOR [home_yellow_card]
GO
ALTER TABLE [dbo].[Match] ADD  DEFAULT ((0)) FOR [away_yellow_card]
GO
ALTER TABLE [dbo].[Match] ADD  DEFAULT ((0)) FOR [home_red_card]
GO
ALTER TABLE [dbo].[Match] ADD  DEFAULT ((0)) FOR [away_red_card]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD FOREIGN KEY([away_team_id])
REFERENCES [dbo].[Team] ([id])
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD FOREIGN KEY([full_time_result_id])
REFERENCES [dbo].[Result] ([id])
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD FOREIGN KEY([half_time_result_id])
REFERENCES [dbo].[Result] ([id])
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD FOREIGN KEY([home_team_id])
REFERENCES [dbo].[Team] ([id])
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD FOREIGN KEY([league_id])
REFERENCES [dbo].[League] ([id])
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD FOREIGN KEY([referee_id])
REFERENCES [dbo].[Referee] ([id])
GO
ALTER TABLE [dbo].[Teams_Leagues]  WITH CHECK ADD FOREIGN KEY([league_id])
REFERENCES [dbo].[Team] ([id])
GO
ALTER TABLE [dbo].[Teams_Leagues]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Leagues] FOREIGN KEY([league_id])
REFERENCES [dbo].[League] ([id])
GO
ALTER TABLE [dbo].[Teams_Leagues] CHECK CONSTRAINT [FK_Teams_Leagues]
GO
USE [master]
GO
